

aside {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 0.75rem; /* Smaller font size */
}

h2 {
  color: var(--button-primary);
}

.dark h2 {
  color: var(--button-accent);
}

button {
  color: var(--button-primary);
}

.dark button {
  color: var(--button-accent);
}

img {
  vertical-align: middle;
}